/*
**  BOTTONI, COLOR-PICKER, MENU-BUTTON STYLE
*/
.button, #new_shape, #grid_options, #mirror, .color-picker {
    -fx-background-color: None;
}

.button:hover , #new_shape:hover, #grid_options:hover, #mirror:hover, .color-picker:hover {
    -fx-background-color: #F4E9B3;
}

/* Click (quando premuto) */
.button:armed, #new_shape:armed, #grid_options:armed, #mirror:armed, .color-picker:armed {
    -fx-background-color: #F8E09E;
}

/*
**  SPINNER ALTEZZA E LARGHEZZA
*/
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*
*   SET COLORI DELL'INTERFACCIA
*/
.menu-bar {
    -fx-background-color: #91E3E6;
}

/* quando si passa col cursore sulle voci nel menu */
.menu-bar .menu:hover, .menu-bar .menu:showing {
    -fx-background-color: #01AFB6;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #F8E09E;
}

.tab:selected {
    -fx-background-color: #FCF3D8;
}

.tab-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tool-bar {
    -fx-background-color: #FCF3D8;
}

.menu-item:focused {
    -fx-background-color: #01AFB6;
}

.separator .line {
    -fx-border-color: #F8E09E;
    -fx-border-width: 0.5px;
}
